nav {
  
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1rem;
  top: 0;
  background-color: var(--bg);
  z-index: 90000000 !important ;
  /* z-index: 10; */
  height: 4rem;
}

nav h1 {
  margin: 0;
  background-color: #d9d9d9;
  color: var(--bg);
  padding: 0.5rem;
  font-size: 1.3rem;
}

nav h1 {
  /* position: absolute;
  left: 0; */
}

.stages-container a {
  color: var(--nav-color);
  text-decoration: none;
  font-weight: 900;
  font-size: 1.3rem;
  z-index: 90000000000000000000 !important;
}

.stages-container a.active {
  color: white;
  /* display: initial; */
  font-size: 24px !important;
}

.stages-container .not-active {
  display: none;
}
.menuContainer {
  /* display: none; */
}

@media (min-width: 900px) {
  nav{
    width: 100vw !important;
  }
  .stages-container .not-active {
    display: initial;
  }

  .mainDrop {
    display: none;
    transition: transform 2.2s ease-out;
    transform: scale(1.5);
  }
  .menuContainer{
    width: 0;
    height: 0;
  }
}
.hidemenus {
  display: none !important;
}
.mainNav {
  z-index: 333333333333333333333330000000000000000000 !important;
}
@media (max-width: 900px) {
  .mainNav {
    z-index: 333333333333333333333330000000000000000000 !important;
  }
  .menuOpened{
    margin-top: 0px !important;
  }
  .stages-container a.active {
    color: white;
    /* position: relative;
    left: 150px;
    display: initial; */
    font-size: 25px !important;
    z-index: 90000000000000000000 !important;
  }

  .hidemenu {
    display: none;
  }
  .menuContainer a {
    color: var(--nav-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 1.3rem;
  }
  .menuContainer a.active {
    color: white;
  }
  .menuContainer a:hover {
    background-color: gray;
    
  }
  .menuContainer a{
    /* padding: 0px 20px; */
  }
  .menuContainer * {
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  .menuContainer {
    /* position: absolute; */
    /* right: 0;
    top: 4rem; */
    /* width: 100%; */
    display: flex;
    gap: 4rem;
    flex-direction: column;
    padding: 10px 0px;
    margin-right: 5px;
  }
  
  .navMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
     background-color: var(--bg);;
    /* padding: 0px 20px; */
    /* width: 100%; */
    position: absolute;
    right: 20px;
    top: 60px;
    
  }
  .navMobile *{
    padding: 8px 25px !important;
    width: 100% !important;
    
  }

  .mainDrop {
    cursor: pointer;
    display: block;
    cursor: pointer;
  }
  .openedArr {
    
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in;
  }
  .closedArr {
    transform: rotate(90deg);
    transition: transform 0.2s ease-in;
  }
  .logo, a{
    transform: scale(0.8);
  }
  a.active{
    transform: scale();
  }

  nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    z-index: 9000000000000000000000000000011111111111111111111111111111111111111111111111111111111111111111111 !important;
    /* position: sticky;
    top: 0px; */
  }
  .logo {
    /* background-color: aqua; */
    /* display: initial; */
    margin-left: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px;
  }
}
