.select-container {
  .option {
    font-size: 1rem;
    text-align: center;
    background-color: #383838;
    color: #fff;
    &.selected {
      background-color: #fff;
      color: #222
    }
  }
  .grid-cols {
    &-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
    &-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
}
