@media (min-width: 920px) {
  .hero-container {
    max-width: 1140px;
    margin: 0 auto;
  
    position: fixed;
    top: 0px;
    z-index: 5;
    .hero-container-inner {
     
      background-color: var(--bg);
      min-height: 21.25rem;
      display: flex;
      flex-direction: column;
      transition: 0.2s;
      &.scrolled {
        min-height: 10rem;
        
      }
    }
   
  }
  .gradients {
    height: 4rem;
    background: linear-gradient(180deg, #161616 0%, rgba(22, 22, 22, 0) 100%);
  }
}
@media (min-width: 920px) {
.page-header{
  display: flex;
  
  
  
}
.cta-hero{
  margin-right: 20px !important;
}
.half{
  margin-top: 4rem;
}
.half{
  p{
    // width: 70%;
  }
  h2{
    font-size: 34px !important;
  }
}
.button-container{
  display: flex;
  align-items: flex-end;
  background-color: #D9D9D9;
  justify-content: flex-end;
}
.button-container{
  .cta{
    margin-bottom: 1rem;
  }
}
.cta-container{
  // margin: 0;
  width: 50%;
  background-color: #D9D9D9;
  
}

}


@media (max-width: 920px) {
  .gradients {
    position: fixed;
    bottom: 0px;

    z-index: 5911111 !important;
    width: 100vw;
    height: 3rem;
    left: 0;
    // background-color: aqua;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 80) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .gradientsTop {
    position: absolute;
    top: 66px;
    // bottom: 0px;
    left: 0;

    z-index: -90 !important;
    width: 100vw;
    height: 3rem;
    // background-color: aqua;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 80) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .elements{
    width: 100vw;
    padding:0px 40px 0px 10px;
  }
  .hero-container{
    z-index: 900 !important;
    padding: 0px 10px;

    .gradient {
      z-index: 599999!important;
      height: 9rem;
      background: linear-gradient(180deg, #161616 0%, rgba(22, 22, 22, 0) 100%);
    }
  }
    .page-header{
      margin-top: 90px !important;
      background-color: #D9D9D9 !important;
    }
    .button-container{


      // padding-right: 22px;
      // padding-top: 10px;
      // padding-bottom: 15px;
    }
      .fixed_navbar {
        // padding: 10px 40px 10px 10px ;
        z-index: 90000;
        background-color: #D9D9D9;
        width: 94.2%!important;
        position: fixed !important;
        top: 63px !important;
        left: 100 !important;
        right: 100 !important;
        
      }
      .fixed_navbar{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
       
      }
 
  .stickyMenu {
    // top: 200px;
    // position: sticky !important;
    // z-index: 677888888;
    // background-color: #161616;
  }
  // .imgcc{
  //   position: fixed;
  // }

  .hero-container {
    height: 100px !important ;
    width: 100vw;
    // margin-top: -145px;
    // position: relative !important;
    margin-bottom: 250px;
    
  }
  .hero-container {
    p {
      font-size: 20px;
    }
    h2 {
      font-size: 35px;
    }
    .page-header {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
    }

  
  }
}

