// main{
//   width: 100%;
//   padding: .5rem;
//   max-width: 1200px;
//   margin: 0 auto;
//   // header.page-header {
//   //   position: fixed;
//   //   top: 0;
//   //   width: 100%;
//   //   transition: 0.2s;
//   // }
// }

.element{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 256px;
  padding: .5rem;
  background-color: var(--gray-one);
  margin-bottom: .5rem;
}

h2{
  // margin: .5rem 0;
  font-weight: 900;
}


.page-header{
  display: none;
  .image{
    background-color: #ddd;
    grid-column: 2/-1;
    display: none;
  }
}
.half {
  &.image{
    grid-row: 1;
    grid-column: 2/3;
    background-color: white;
  }
  &.title {
    grid-row: 1;
    grid-column: 1/2;
    .tags {
      display: flex;
      flex-wrap: wrap;
      z-index: 9;
      &.tag {
        flex-grow: 1;
      }
      .regular-tag {
        flex-grow: 2;
      }
    }
  }
}

.page-header{
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  flex: 1;
  .half{
    padding: 20px;
  }
  .image{
    display: block;
    display: flex;
    align-items: flex-end;
    .cta-container{
      height: fit-content;
      margin: 0;
      width: 60%;
      margin-left: auto;
      background-color: initial;
    }
  }
}

.elements-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem 0;
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}