@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
    url('./assets/fonts/Oswald-ExtraLight.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'),
    url('./assets/fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'),
    url('./assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local('Oswald Medium'), local('Oswald-Medium'),
    url('./assets/fonts/Oswald-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
    url('./assets/fonts/Oswald-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'),
    url('./assets/fonts/Oswald-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  transition: color 0.1s ease-in;
  transition: fill 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.select-container {
}
.ininlineButtonPrimary{
  background-color: #FFFFFF !important;
  color: #222222 !important;
  // color: wheat;
  position: relative;
  margin-left: -1.5rem;

  width: 100% !important;
}

.inlineButton {
  font-size: 18px;
  background-color: #222222;
  margin-top: 0px;
  padding: 0px 10px !important;
  flex: 1;
  display: flex;
  color: white;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 115%  !important;
  height: 56px;
}
@media (max-width: 920px) {
  .inlineButton{
    width: 110% !important;
  }
}
.iconButt {
  display: flex;
  // color: black;
  font-size: 27px;
}
.iconButtSecondary{
  color: white !important;
  font-size: 27px;
}
.primaryButton {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: #ffff;
}
.inlineButton:hover {
  background-color: 222222;
}
.buttonAndIcon {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
// .open{
//   background-color: white;
// }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cta-container {
  // padding: 0rem 0rem 0rem 0.3rem !important;
  padding: 5px;
  background-color: #d9d9d9;
  
  // position: fixed !important;
  // top: 100px !important;
}
// .imgcc{
//   position: fixed !important;
//   top: 100px !important;
// }

.cta {
  width: 100%;
  border: none;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 0.8125rem 1.25rem;
  color: white;
  background-color: var(--button-pc);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:hover {
    background-color: var(--button-pc-hover);
  }
  &:active {
    background-color: var(--button-pc-active);
  }

  &.secondary {
    background-color: var(--gray-two);
    &:hover {
      background-color: var(--gray-hover);
    }
    &:active {
      background-color: var(--gray-active);
    }
  }
}

.cta-container {
  width: 100%;
}

.cta-container:hover,
.cta:hover {
  cursor: pointer;
}

h2,
h3,
h4,
p {
  margin: 0;
}

@media (min-width: 920px) {
  .elements{
    margin-top: 26rem;
  }
  .marginCenterNO {
    // margin-top: 0rem !important;
  }
  .marginCenterYES {
    margin-top: 4rem;
  }
  .leftContainers {
    margin-top: 5rem;
  }
  .stagethreeacc {
    // background-color: white;
  }
  .accordionCTA {
    display: flex;
  }
  .accordionAndCTA {
    margin-top: 4rem;
  }
}
@media (min-width: 920px) {
  .stagethreemobile {
    margin-top: 5rem;
    // position: absolute;
  }
}
@media (max-width: 920px) {
  .build-modal-header{
    display: flex;
    justify-content: space-between;
  }
  .stagethrees {
    position: fixed !important;

    width: 100vw;
  }
  .cta {
    // padding: 0;
    align-items: center;
    // font-size: 16px !important;
    justify-content: space-between;
    // padding: 0px 5px;
    font-weight: normal;

    // width: 100%;
  border: none;
  font-weight: 900;
  font-size: 1.1rem;
  padding: 0.8125rem 1.25rem;
  color: white;
  background-color: var(--button-pc);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  .navigation-dots {
    display: none;
  }
  .hideLeftPanel {
    display: none;
  }
  .CenterClosedContext {
    display: none;
  }
  .navigation-instructions {
    font-size: 14px !important;
    align-self: flex-start;
  }
  .buttonLine {
    // display: none !important;
  }
  // .gradients {
  //   position: fixed;

  //   // z-index: 5911111111111111111111111111119999 !important;
  //   width: 100vw;
  //   bottom: 80px;
  //   height: 5rem;
  //   // background-color: aqua;
  //   background: linear-gradient(
  //     360deg,
  //     rgba(22, 22, 22, 52) 0%,
  //     rgba(0, 0, 0, 0) 100%
  //   );
  // }
.hideLeft{
  height: 0 !important;
  transition: all 0.3s ease;
}
  .rightButtonCTA {
    // display: none;
  }
  .iconsMinimize {
    // transform: translateY(calc(100vh - 30vh));
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10000000 !important;

    // transition: all 0.5s;
  }
  .minimizeMenu {
    // transform: translateY(100px);
    // transition: all 0.4s ease-out;
    // display: none;
  }
  .leftContainers {
    height: 50vh;
    width: 95%;

    z-index: 20000000000;
    // background-color: aqua;
    overflow-y: scroll !important;
    position: fixed;
    bottom: 5rem;

    // z-index: 1111111111111 !important;
  }
  .leftContainers::-webkit-scrollbar {
    display: none;
  }
  
  .leftContaineropen {
    height: 50vh;
    width: 95%;

    z-index: 20000000000;
    // background-color: aqua;
    overflow-y: scroll !important;
    position: fixed;
    bottom: 0;
  }
  .minimizeAll {
    transform: translateY(600px);
    transition: all 0.4s ease-in;
    opacity: 0;
  }
  .accordionAndCTA {
    position: fixed;
    width: 100%;
    bottom: -1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    // align-self: flex-end;
    gap: 1.8rem !important;
    // z-index: 999;
    // height: 30px;
  }
  .centerStageTwo {
    // flex: 5;
  }
  .accordionAndCTA {
    .rightButtonCTA {
      display: flex;
      z-index: 1 !important;
      height: 56px;
      background-color: #2997ff;
      // flex-direction: row-reverse;
      margin-bottom: 20px;
      margin-right: 2rem;
      margin-left: 1rem;
      align-self: flex-end;
      // height: 40px;
    }

    // height: 30px;
  }
  .cta-container {
    // margin: 0rem 0rem 0rem 0.3rem;
  }
}
